.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  padding: 24px 0;
  transition: padding 0.5s ease-in;

  // .header__container

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 15px;
      z-index: 0;
      width: 167px;
      height: 167px;
      border-radius: 100%;
      transform: translate(0, -77%);
      background-color: $color-title;
      transition: all 0.5s ease-in;

      @include w($xsm) {
        left: -10%;
      }
    }
  }

  // .header__logo

  &__logo {
    position: relative;
    margin-left: 61px;
    margin-right: auto;

    @include w($xsm) {
      margin-left: 0;
    }
  }

  &__nav {
    margin-right: 127px;

    @include w($lg) {
      margin-right: 0;
    }
  }

  // .header__social

  &__social {
    @include w($md) {
      margin-left: auto;
      order: 0;
    }
  }

  &__menu-button {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    &--hidden {
      opacity: 0;
      visibility: hidden;
    }

    &--active {
      &::before {
        top: 50%;
      }
      &::after {
        bottom: 50%;
      }
    }

    @include w($md) {
      margin-left: 70px;
      order: 1;
    }

    @include w($xsm) {
      margin-left: 50px;
    }
  }

  &--active {
    padding: 10px 0;

    .header__container {
      &::before {
        width: 380%;
        height: 150%;
        left: 20%;
        border-radius: 0;
        transform: translate(-50%, -50%);
      }
    }

    .nav__link {
      color: $light-color;
    }

    .social--active > button.social-button {
      box-shadow: 0 0 0 3rem #faf7ff, 5px 5px 15px 3.1rem #c7b7e7;
    }

    .social__link {
      svg {
        fill: $color-title;
      }
    }

    .logo__link {
      transform: translateY(10px);
    }
  }
}

.nav {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  // .nav__list

  &__list {
    display: flex;
    align-items: center;

    @include w($md) {
      padding: 80px 50px;
      height: auto;
      flex-direction: column;
      justify-content: center;
      border-radius: 50%;
      background-color: $color-default;
      transform: translate(-150%, -150%) skew(0, 0);
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
  }

  // .nav__item

  &__item {
    &:not(:last-child) {
      margin-right: min(5vw, 50px);

      @include w($md) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  // .nav__link

  &__link {
    font-size: 15px;
    color: $color-title;
    text-transform: uppercase;
    transition: color 0.3s ease-in;

    @include w($md) {
      color: $light-color;
      font-size: 30px;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 14px;
    display: none;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      height: 5px;
      border-radius: 10px;
      background-color: $light-color;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: "";
      width: 5px;
      height: 80%;
    }

    @include w($md) {
      display: block;
    }
  }

  @include w($md) {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    background-color: rgba($color-title, 0.3);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &--active {
      opacity: 1;
      visibility: visible;

      & > .nav__list {
        animation-name: nav-animation;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0, 1.63, 1, 1.08);
        animation-fill-mode: forwards;
        animation-delay: 0.3s;
        opacity: 1;
        visibility: visible;
      }
    }

    &--hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}

@keyframes nav-animation {
  from {
    transform: translate(-150%, -150%), skew(0, 0);
    box-shadow: -10px -10px 50px 200px $color-default-bg;
  }
  50% {
    transform: translate(26%, 26%) skew(-5deg, -5deg);
    box-shadow: 10px 10px 5px 20px $color-default-bg;
  }

  to {
    transform: translate(0, 0) skew(0, 0);
    box-shadow: 0px 0px 0px 0px $color-default-bg;
  }
}

.social {
  position: relative;
  padding: 0 60px;

  @include w($md) {
    padding: 0;
  }
  // .social__button

  &__button {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  // .social__items

  &__items {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 12rem;
    height: 8rem;
    color: $light-color;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    @include w($xsm) {
      width: 10rem;
      height: 7rem;
    }
  }

  // .social__item

  &__item {
    justify-self: center;
    align-self: center;
    transform: scale(0.5);
    filter: blur(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
      filter 0.3s ease-in-out;

    &:nth-child(even) {
      grid-column: 1/3;
      grid-row: 3/4;
    }

    &:first-child {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &:last-child {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }

  &__link {
    width: 24px;
    height: 24px;

    svg {
      width: 24px;
      height: 24px;
      fill: $light-color;
      object-fit: contain;
      transition: transform 0.3s ease-in-out;

      @include w($xsm) {
        width: 20px;
        height: 20px;
      }
    }

    &:hover svg {
      transform: scale(1.2);
    }
  }

  &--active {
    & > button.social-button {
      transform: none;
      box-shadow: 0 0 0 3rem $color-default,
        5px 5px 15px 3.1rem $color-default-bg;

      @include w($xsm) {
        box-shadow: 0 0 0 2.5rem $color-default;
      }
    }

    .social__items {
      opacity: 1;
      pointer-events: auto;
    }

    .social__item {
      opacity: 1;
      transform: none;
      filter: none;
    }

    .social__item:nth-child(1) {
      transition-delay: 0.25s;
    }

    .social__item:nth-child(2) {
      transition-delay: 0.25s;
    }
    .social__item:nth-child(3) {
      transition-delay: 0.25s;
    }
  }
}
