<section class="about" id="about">
  <div class="container about__container">
    <div class="about__image">
      <picture>
        <source srcset="../img/my-photo.avif" type="image/avif">
        <source srcset="../img/my-photo.webp" type="image/webp">
        <img loading="lazy" src="../img/my-photo.png." class="image" alt="my photo">
      </picture>
    </div>
    <div class="about__content">
      <div class="about__subtitle subtitle">
        About me
      </div>
      <h2 class="about__title title">
        Few words about me
      </h2>
      <p class="about__top-note">
        I am a professional front end developer. I perform the most interesting and complex tasks on freelance.
      </p>
      <ul class="about__list">
        <li class="about__item">
          Сonstantly developing and trying to learn something new
        </li>
        <li class="about__item">
          I create websites for big and small businesses.
        </li>
        <li class="about__item">
          Each project has an individual approach.
        </li>
        <li class="about__item">
          I take tasks and meet deadlines seriously.
        </li>
        <li class="about__item">
          I`ll never say, “That`s not my job”.
        </li>
        <li class="about__item">
          Always pay close attention to detail.
        </li>
      </ul>
      <p class="about__bottom-note">
        If you are finding someone passionate about reusable, clean code, secure applications and agile methodology
        follower, then you are viewing right website!.
      </p>
    </div>
  </div>
</section>
