<footer class="footer" id="contacts">
  <div class="container footer__container">
    <div class="footer__top">
      <div class="footer__content">
        <h2 class="footer__title title">
          Get
          in touch
          with me
        </h2>
        <ul class="footer__list">
          <li class="footer__item contact-item">
            <div class="contact-item__title">
              Email
            </div>
            <a class="contact-item__link" href="mailto:risedack1@gmail.com">
              risedack1@gmail.com
            </a>
            <div class="contact-item__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
            </div>
          </li>
          <li class="footer__item contact-item">
            <div class="contact-item__title">
              phone
            </div>
            <a class="contact-item__link" href="tel:+48792725889">
              +48792725889
            </a>
            <div class="contact-item__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
            </div>
          </li>
          <li class="footer__item contact-item">
            <div class="contact-item__title">
              Telegram
            </div>
            <a class="contact-item__link" href="https://t.me/risedack1">
              @risedack1
            </a>
            <div class="contact-item__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </div>
          </li>
        </ul>
      </div>
      <form action="#" class="footer__form footer-form" method="POST" id="form">
        <fieldset class="footer__fieldset">
          <legend class="footer__form-title">
            <span>Leave your contact</span>
            and we will contact you shortly
          </legend>
          <div class="footer__form-group">
            <label class="footer__form-label">
              <input class="footer__form-input input-focus input-name" type="text" name="Name" placeholder="Name"
                required>
              <span class="focus-border">
                <i></i>
              </span>
            </label>

            <label class="footer__form-label">
              <input class="footer__form-input input-focus input-email" type="email" name="Email" placeholder="Email"
                required>
              <span class="focus-border">
                <i></i>
              </span>
            </label>

            <label class="footer__form-label">
              <input class="footer__form-input input-focus input-tel" type="tel" name="Phone" placeholder="Phone"
                required>
              <span class="focus-border">
                <i></i>
              </span>
            </label>

            <label class="footer__form-label">
              <textarea class="footer__form-input input-focus input-message" name="Message"
                placeholder="Message"></textarea>
              <span class="focus-border">
                <i></i>
              </span>
            </label>
          </div>
        </fieldset>
        <button class="footer__form-button button-main btn-reset" type="submit">
          Send
        </button>
        <div class="footer-form__success">Message sent</div>
      </form>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__bottom-container">
      <div class="footer__copy">
        All rights reserved.
      </div>
      <ul class="footer__social">
        <li class="footer__social-item">
          <a class="footer__social-link" href="https://t.me/risedack1" target="_blank">
            <svg class="">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>

        <li class="footer__social-item">
          <a class="footer__social-link" href="https://www.linkedin.com/in/tymur-oleshkevych-1b094123a" target="_blank">
            <svg class="">
              <use xlink:href="img/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </li>

        <li class="footer__social-item">
          <a class="footer__social-link" href="https://github.com/risedack1" target="_blank">
            <svg class="">
              <use xlink:href="img/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
