<header class="header">
  <div class="container header__container">
    <div class="logo header__logo">
      <a class="logo__link" href="#hero">
        <svg>
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a>
    </div>
    <nav class="nav header__nav" title="navigation">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#about" class="nav__link link-hover" data-scroll>
            About Me
          </a>
        </li>
        <li class="nav__item">
          <a href="#skills" class="nav__link link-hover" data-scroll>
            Skills
          </a>
        </li>
        <li class="nav__item">
          <a href="#portfolio" class="nav__link link-hover" data-scroll="">
            Portfolio
          </a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link link-hover" data-scroll="">
            Contacts
          </a>
        </li>
      </ul>
      <button class="nav__close btn-reset"></button>
    </nav>
    <button class="header__menu-button menu-button btn-reset" type="button">
      <span></span>
    </button>
    <div class="social header__social">
      <button class="social__button social-button" aria-label="open social list">
        <span class="social-button__dot"></span>
        <span class="social-button__dot"></span>
        <span class="social-button__dot"></span>
      </button>
      <ul class="social__items">
        <li class="social__item">
          <a class="social__link" href="https://www.linkedin.com/in/tymur-oleshkevych-1b094123a" target="_blank">
            <svg>
              <use xlink:href="img/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://github.com/risedack1" target="_blank">
            <svg>
              <use xlink:href="img/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://t.me/risedack1" target="_blank">
            <svg>
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
