<section class="hero" id="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      Web-developer
    </h1>
    <h2 class="hero__subtitle">
      Tymur
      Oleshkevych
    </h2>
    <a class="button-main btn-reset hero__button" href="#form">
      write me
    </a>
    <picture class="hero__image">
      <source srcset="./img/hero-image.avif" type="image/avif">
      <source srcset="./img/hero-image.webp" type="image/webp">
      <img loading="lazy" src="./img/hero-image.png" class="image" alt="laptop picture">
    </picture>
    <a class="hero__arrow btn-reset down-button" href="#about">
      <svg class="">
        <use xlink:href="img/sprite.svg#down-arrow"></use>
      </svg>
    </a>
  </div>
</section>
