<section class="portfolio" id="portfolio">
  <div class="container portfolio__top">
    <div class="portfolio__top-left">
      <div class="portfolio__subtitle subtitle">
        Portfolio
      </div>
      <h2 class="portfolio__title title">
        My works
      </h2>
    </div>
    <div class="portfolio-top__right">
      <button class="slider-button-prev btn-reset">
        <svg class="">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button class="slider-button-next btn-reset">
        <svg class="">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="container-lg">
    <div class="swiper portfolio-slider">
      <div class="swiper-wrapper portfolio-slider__wrapper">
        <div class="swiper-slide">
          <a href="infrastructure/index.html" class="portfolio-slider__item portfolio-item" target="_blank">
            <picture class="portfolio-item__image">
              <source srcset="./img/portfolio/infrastructure.avif" type="image/avif">
              <source srcset="./img/portfolio/infrastructure.webp" type="image/webp">
              <img loading="lazy" class="image" src="./img/portfolio/infrastructure.jpg"
                alt="Multi-page site with nice amination and full-page scrolling">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Multipage website</h3>
              <p class="portfolio-item__text">
                Multi-page site with nice amination and full-page scrolling
              </p>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="landing/index.html" class="portfolio-slider__item portfolio-item" target="_blank">
            <picture class="portfolio-item__image">
              <source srcset="./img/portfolio/landing.avif" type="image/avif">
              <source srcset="./img/portfolio/landing.webp" type="image/webp">
              <img loading="lazy" class="image" src="./img/portfolio/landing.jpg" alt="Simple one-page website">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Landing, one-page website</h3>
              <p class="portfolio-item__text">
                Simple one-page website.
              </p>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="romsem/index.html" class="portfolio-slider__item portfolio-item" target="_blank">
            <picture class="portfolio-item__image">
              <source srcset="./img/portfolio/romsem.avif" type="image/avif">
              <source srcset="./img/portfolio/romsem.webp" type="image/webp">
              <img loading="lazy" class="image" src="./img/portfolio/romsem.jpg"
                alt="Multi-page website with the implementation of adding products to the shopping cart">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Romsem, multi-page website</h3>
              <p class="portfolio-item__text">
                Multi-page website with the implementation of adding products to the shopping cart.
              </p>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="task-list/task-page.html" class="portfolio-slider__item portfolio-item" target="_blank">
            <picture class="portfolio-item__image">
              <source srcset="./img/portfolio/task.avif" type="image/avif">
              <source srcset="./img/portfolio/task.webp" type="image/webp">
              <img loading="lazy" class="image" src="./img/portfolio/task.jpg"
                alt="Web-application that allows you to add and edit tasks, notes and links">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Task-list, web-application</h3>
              <p class="portfolio-item__text">
                Web-application that allows you to add and edit tasks, notes and links.
              </p>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="neumann-music/index-en.html" class="portfolio-slider__item portfolio-item" target="_blank">
            <picture class="portfolio-item__image portfolio-item__image--center">
              <source srcset="./img/portfolio/music.avif" type="image/avif">
              <source srcset="./img/portfolio/music.webp" type="image/webp">
              <img loading="lazy" class="image" src="./img/portfolio/music.jpg"
                alt="Landing page for sound studio with custom music player">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Neumann-music, landing page</h3>
              <p class="portfolio-item__text">
                Landing page for sound studio with custom music player.
              </p>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="atr-studio/index.html" class="portfolio-slider__item portfolio-item" target="_blank">
            <picture class="portfolio-item__image">
              <source srcset="./img/portfolio/art.avif" type="image/avif">
              <source srcset="./img/portfolio/art.webp" type="image/webp">
              <img loading="lazy" class="image" src="./img/portfolio/art.jpg" alt="Creative website with soft
              transitions and nice animation">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Art-studio, creative website</h3>
              <p class="portfolio-item__text">
                Creative website with soft
                transitions and nice animation
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
